@mixin media($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin clampLineOn($num) {
  display: -webkit-box;

  -webkit-line-clamp: $num;
  line-clamp: $num;

  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis;
}
