@mixin image {
  height: 100%;

  object-fit: cover;
  object-position: right;
}

:host {
  flex: 0 3 10%;

  height: 100%;
  figure {
    height: 100%;
    float: right;

    img {
      @include image;
    }
  }

  ::slotted(img) {
    @include image;
  }
}
