@use "@styles/elements/index" as *;
@use "@styles/settings/index" as *;

.search {
  flex: 0 1 25%;

  padding-left: 10px;

  overflow: hidden;

  height: 30px;
}

.search__form {
  display: flex;

  height: 100%;
}

.search__form {
  @extend .underline--gradient;

  display: flex;

  position: relative;

  &:has(input:focus) {
    &::after {
      background-position: -100% 0;
    }
  }
}

.search__input {
  flex: 1 1 90%;

  position: relative;

  padding: 0 10px;
  border: none;

  &::placeholder {
    color: $color-blu-indep;
  }
}

.search__button {
  flex: 1 1 10%;

  height: 100%;

  border-bottom: 1px solid transparent;

  transition: border-color 0.25s ease-in-out;

  span {
    transition: color 0.25s ease-in-out;
    color: black;
  }

  &:hover {
    border-color: $color-accent;
    span {
      color: $color-accent;
    }
  }
}
