@use "@styles/elements/index" as *;
@use "@styles/settings/index" as *;

.logo {
  height: 80px;
  width: 100px;
  transform: scale(1.5);
}

.logo:hover .logo__ovalPath {
  stroke: $color-accent;
}

.logo:hover .logo__lettersPath {
  fill: $color-accent;
}

.logo__ovalPath,
.logo__lettersPath {
  transition:
    stroke 0.3s ease-in-out,
    fill 0.3s ease-in-out;
}
