@use "@styles/settings/index" as *;

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 0.25s ease-in-out;
}

.link--primary {
  @extend .link;

  color: $color-primary;
  &:hover {
    color: $color-accent;
  }
}
