@use "@styles/settings/index" as *;
@use "ad" as *;

.mainContent {
  display: flex;
  gap: 20px;
  flex-flow: column nowrap;

  min-height: 80vh;

  padding: 30px;
}

/* Sections within main content */
.mainContent__categories {
  height: 300px;

  border: 1px dotted $color-primary;
}

.batteriesAd--sell {
  @extend .ad;
}

.batteriesAd__heading {
  @extend .ad__heading;
}

.batteriesAd__symbolsList {
  @extend .ad__symbolsList;
}

.batteriesAd__symbolsItem {
  @extend .ad__symbolsItem;
}

.batteriesAd__symbolFigure {
  @extend .ad__symbolFigure;
}

.batteriesAd__image {
  @extend .ad__image;
}
