@use "settings/index" as *;
@use "elements/index" as *;

@use "settings/reset.scss" as *;
@use "settings/normalize.scss" as *;

@use "comps/layout/header/index" as *;
@use "comps/layout/footer/index" as *;

@use "pages/home/index";

html {
  overscroll-behavior: none;

  font-family: $font-ubuntu;

  body {
    scroll-behavior: smooth;
    overflow-x: hidden;

    font-weight: 400;

    color: $color-primary;

    background-color: $color-background;

    a {
      cursor: pointer;
    }

    span.material-icons {
      /* todo */
    }
  }
}
